body, html {
   /* flag colors*/
    height: 100%;
    background: #67B26F;
    background: -webkit-linear-gradient(to left, #FF9933,#138808);
    background: linear-gradient(to left, #138808 ,#FFFFFF,#FFFFFF, #FF9933);



   /* background: #67B26F;
    background: -webkit-linear-gradient(to left, #67B26F , #4ca2cd);
    background: linear-gradient(to left, #67B26F , #4ca2cd);
    height:100%; */
/*    255, 153, 51) (hex code: #FF9933)
White: (RGB: 255, 255, 255) (hex code: #FFFFFF)
Green: (RGB: 19, 136, 8) (hex code: #138808) */
}
h3{
  text-align: center;
  font-family: inherit;
}
.heading{

}
/* –––––– MENU BAR ––––––– *
html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.text-vertical-center h1 {
    margin: 0;
    padding: 0;
    font-size: 4.5em;
    font-weight: 700;
}

/* Button Style *

.btn-dark {
    border-radius: 0;
    color: #fff;
    background-color: rgba(0,0,0,0.4);
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
    color: #fff;
    background-color: rgba(0,0,0,0.7);
}

.btn-light {
    border-radius: 0;
    color: #333;
    background-color: rgb(255,255,255);
}

.btn-light:hover,
.btn-light:focus,
.btn-light:active {
    color: #333;
    background-color: rgba(255,255,255,0.8);
}

/* Horizontal Rule *

hr.small {
    max-width: 100px;
}

/* Side Menu *

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    right: 0;
    width: 250px;
    height: 100%;
    transform: translateX(250px);
    overflow-y: auto;
    background: #222;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 55px;
    font-size: 18px;
    line-height: 55px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

#menu-toggle {
    z-index: 1;
    position: fixed;
    top: 0;
    right: 0;
}

#sidebar-wrapper.active {
    right: 250px;
    width: 250px;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.toggle {
    margin: 5px 5px 0 0;
}

.header {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    /*background: url(../img/bg.jpg) no-repeat center center scroll; *
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}*/

.parallax {
    /*
    background-image: url('img_flag.jpg');*/
    background-color:#fefefe;

    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.mid{
  background-color:black;
  height:500px;
}

.form-control{

}

/*.page1{
  background: #2C3E50;
/*  background: -webkit-linear-gradient(to left, #2C3E50 , #4CA1AF);
  background: linear-gradient(to left, #2C3E50 , #4CA1AF);
} */

.form-group {
  font-family: sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: auto;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  font-size: 14px;
  border-radius: 3px;
  color: black;

}
.form button {
  font-family: sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #47505f;
  width: auto;
  border: 0;
  padding: 10px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  border-radius:25px;
}
.form button:hover,.form button:active,.form button:focus {
  background: #787b8d;
}

.form1{
  background-color: #ffffff;
  background-position: center;
  padding: 15px;
  box-shadow: 10px 10px 5px grey;
  width:50%;
  position: relative;
  margin: 0 auto 100px;
  z-index: 1;

}
/* background: #2C3E50; /* fallback for old browsers
background: -webkit-linear-gradient(to left, #2C3E50 , #4CA1AF);
background: linear-gradient(to left, #2C3E50 , #4CA1AF);
        */
